#Directories
.vs/
.idea/
bin/
bin-int/
!vendor/premake/bin
Hazel/vendor/VulkanSDK/
scripts/__pycache__/
Hazelnut/assets/cache/
Hazelnut/Resources/Scripts/Intermediates/

#Files
*.user
*.sln
*.vcxproj
*.filters
*.log
*.csproj
